.root{
    -fx-background-color: white;
}

.table-view{
    -fx-background-color:  #ffffff;
    -fx-border-color:  #778899;
}

.table-view .column-header-background{
    -fx-background-color:  #778899;
}

.table-view .column-header-background .label{
    -fx-background-color:  #778899;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view: focused .table-row-cell:selected .table-cell{
    -fx-text-fill: white;
}

.table-view: focused .table-row-cell:selected {
    -fx-background-color: #778899;
    /*-fx-text-background-color:  white;*/
    -fx-table-cell-border-color: #778899;
}

.table-view .table-cell{
    -fx-text-fill:  #778899;
}
